{
	"embeds": [
    	{
			{% if level == "warning" %}
				"color": 16705372,
			{% elif level == "critical" %}
				"color": 15548997,
			{% endif %}
			"fields": [
				{
					{% if level == "warning" %}
						"name": ":warning: {{ level.upper() }}",
					{% elif level == "critical" %}
						"name": ":no_entry: {{ level.upper() }}",
					{% endif %}
					"value": "_Certificate is about to expire_"
				},
				{
					"name": "Website",
					"value": "{{ website }}",
					"inline": true
				},
				{
					"name": "Remaining days",
					"value": "{{ remaining_days }}",
					"inline": true
				}
			]
    	}
	],
	"username": "{{ username }}"
}