{
	"embeds": [
    	{
      		"color": 3571207,
      		"fields": [
        		{
          			"name": ":white_check_mark: OK",
          			"value": "_{{ type }} alert has been resolved_"
        		},
        		{
          			"name": "Website",
          			"value": "{{ website }}"
        		}
    		]	
    	}
  	],
	"username": "{{ username }}"
}