{
	"attachments": [
		{
			"color": "#18b52f",
			"blocks": [
				{
					"type": "section",
					"text": {
						"type": "mrkdwn",
						"text": ":white_check_mark: *OK!*"
					}
				},
				{
					"type": "section",
					"text": {
						"type": "mrkdwn",
						"text": "_{{ type }} alert has been resolved_"
					}
				},
				{
					"type": "section",
					"fields": [
						{
							"type": "mrkdwn",
							"text": "*Website*:\n{{ website }}"
						},
					]
				}
			]
		}
	]
}